#main_div{
    float: left;
    width: 65%;
    /*border: 2px saddlebrown solid;*/
    min-height: 200px;                
}
#options{
    float: right;
    width: 30%;
    /*border: 2px saddlebrown solid;*/
    min-height: 200px;                

}
.container{
    float: left;
    height: auto;
    width: 100%;
    border: 2px saddlebrown solid;
}

.row{
    padding: 10px 5px;
}

#response_string{
    width: 90%;
}
table{
    border-collapse: collapse;
    width: 90%;
}
table, td, th{
    border: 2px black solid;
}
a {
    text-decoration: none;
}